!!! 5
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    %title Movie Playlist
    =stylesheet_link_tag "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body
    =yield
